@charset "ISO-8859-1";
body{
	margin: 0;
	padding: 0;
}
.table-product {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.table-product tr th{
    background: #5D8BF4;
    color:white;
    font-weight: normal;
}

.table-product, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
    

}
.title{
	margin:0;
	margin-bottom:40px;
	background-color : #051367;
	color : white;
	font-family: sans-serif;
	
}
.link-product{
	background-color : #2D31FA;
	margin: 16px;
	padding: 8px;
	color : white;
	font-family: sans-serif;
	font-size: 12px;
}

.button{
	background-color : #2D31FA;
	color : white;
}
